.fa-linkedin-square{
	color: #757575;
}
.contact .fa-linkedin-square:hover{
	color: #9C27B0;
}

.fa-github-square{
	color: #757575;
}
.contact .fa-github-square:hover{
	color: #9C27B0;
}

.fa-envelope{
	color: #757575;
}
.contact .fa-envelope:hover{
	color: #9C27B0;
}