.fa-linkedin-square{
	color: white;
}

.fa-github-square{
	color: white;
}

.fa-envelope{
	color: white;
}

.contact .fa-linkedin-square:hover{
	color: #bcbcbc;
}

.contact .fa-github-square:hover{
	color: #bcbcbc;
}

.contact .fa-envelope:hover{
	color: #bcbcbc;
}