

.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10% 0;
  background-color: red;
}

.fit-img {
  max-width: 100vw;
  max-height: 100vh;
  width: 15rem;
}