body {
  background: #f5f5f5;
  min-height: 1000vh;
  color: black;
  background-repeat: no-repeat;
}

div {
  background-repeat: no-repeat;
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: red;
}

.app {
  display: block;
}

.center-profile {
  position: flex;
  margin-top: -15vh;
  text-align: center;
  background-color: white;
}

.profile-box {
  display: flex;
  align-items: center;
  width: 100vw;
  text-align: center;
  margin: 10% 0;
  min-height: 200px;
}

.center-title {
  text-align: center;
  background-color: white;
}