body {
  background: #f5f5f5;
  color: black;
  background-repeat: no-repeat;
}

div {
  background-repeat: no-repeat;
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: red;
}

.app {
  display: block;
}

.center-profile {
  position: flex;
  text-align: center;
}

.profile-box {
  display: flex;
  flex-direction: column;
}
.profile {
  background-color: #f44336;
  margin-top: -13vh;
  /* max-height: 45vh; */
  padding-bottom:5vh;
}
.about-me {
  margin-top: 13vh;
  text-align: center;
  color: white;
  padding-bottom: 5vh;
}